bcp47langTag.en=en
bcp47langTag.de=de

meta.description.en=Send passwords and other text snippets from one device to another, securely and easily.
meta.description.de=Versende Passwörter und andere Textstücke von einem Gerät zu anderem, sicher und bequem.

page.title.en=Secure Transient Transfer | send stuff securely from one device to another without registration
page.title.de=Secure Transient Transfer | versende Zeug von einem Gerät zum anderen ohne Anmeldung

copyButton.title.en=Copy complete text to clipboard
copyButton.title.de=Kopiere den Text zur Zwischenablage

overlay.copy.en=Copy text
overlay.copy.de=Kopieren

overlay.close.en=Close
overlay.close.de=Schließen

page.title.h1.en=Secure Transient Transfer
page.title.h1.de=Secure Transient Transfer

page.intro.en=Type text to get PIN. Enter PIN to get typed text (on another device). Text is deleted from the server when it is read with the PIN or within 5 minutes. The entered / transferred texts are never stored permanently.
page.intro.de=Text eingeben um eine PIN zu bekommen. Mit der PIN kannst du den Text (auf einem anderen Gerät) wieder abholen. Der Text wird automatisch auf dem Server nach der Abholung gelöscht oder spätestens nach 5 Minuten.

text.title.en=I have a text
text.title.de=Ich habe einen Text

text.textarea.placeholder.en=Text
text.textarea.placeholder.de=Text

text.submit.en=Store and get PIN
text.submit.de=Speichern um PIN zu bekommen

your.pin.title.en=Your PIN is
your.pin.title.de=Deine PIN ist

pin.valid.en=PIN valid
pin.valid.de=PIN ist gültig für

pin.expired.en=Your PIN has expired
pin.expired.de=Die PIN ist abgelaufen

timer.minutes.en=minutes
timer.minutes.de=Minuten

got.it.button.en=Got it
got.it.button.de=Ok

pin.title.en=I have a PIN
pin.title.de=Ich habe eine PIN

pin.field.placeholder.en=PIN
pin.field.placeholder.de=PIN

pin.submit.en=Get text with PIN
pin.submit.de=Text abrufen

text.received.en=Text received
text.received.de=Text erhalten

text.show.button.en=Show text
text.show.button.de=Text anzeigen

clear.button.en=clear
clear.button.de=Zurücksetzen