bcp47langTag.en=en
bcp47langTag.de=de
bcp47langTag.de=fi

meta.description.en=Send passwords and other text snippets from one device to another, securely and easily.
meta.description.de=Versende Passwörter und andere Textstücke von einem Gerät zu anderem, sicher und bequem.
meta.description.fi=Lähetä salasana tai mikä tahansa muu tekstinpätkä laitteesta toiseen, turvallisesti ja helposti. 

page.title.en=Secure Text Transfer | send stuff securely from one device to another without registration
page.title.de=Secure Text Transfer | versende Zeug von einem Gerät zum anderen ohne Anmeldung
page.title.fi=Secure Text Transfer | lähetä tietoa laittesta toiseen ilman rekisteröitymistä

copyButton.title.en=Copy complete text to clipboard
copyButton.title.de=Kopiere den Text zur Zwischenablage
copyButton.title.fi=Kopioi teksti leikepöytään

overlay.copy.en=Copy text
overlay.copy.de=Kopieren
overlay.copy.fi=Kopioi

overlay.close.en=Close
overlay.close.de=Schließen
overlay.close.fi=Sulje

page.title.h1.en=Secure Text Transfer
page.title.h1.de=Secure Text Transfer
page.title.h1.fi=Secure Text Transfer

page.intro.en=Type text to get PIN. Enter PIN to get typed text (on another device). Text is deleted from the server when it is read with the PIN or within 5 minutes. The entered / transferred texts are never stored permanently.
page.intro.de=Text eingeben um eine PIN zu bekommen. Mit der PIN kannst du den Text (auf einem anderen Gerät) wieder abholen. Der Text wird automatisch auf dem Server nach der Abholung gelöscht oder spätestens nach 5 Minuten.
page.intro.fi=Kirjoita teksti, saat PIN-koodin. PIN-koodilla voit noutaa tekstin (toiselle) laitteellesi. Teksti häviää automaattisesti palvelimelta noudettaessa tai viimeistään 5 minuutin kuluttua.

text.title.en=I have a text
text.title.de=Ich habe einen Text
text.title.fi=Minulla on teksti

text.textarea.placeholder.en=Text
text.textarea.placeholder.de=Text
text.textarea.placeholder.fi=Teksti

text.submit.en=Store and get PIN
text.submit.de=Speichern um PIN zu bekommen
text.submit.fi=Tallenna saadaksesi PIN-koodin

your.pin.title.en=Your PIN is
your.pin.title.de=Deine PIN ist
your.pin.title.fi=PIN-koodisi on

pin.valid.en=PIN valid
pin.valid.de=PIN ist gültig für
pin.valid.fi=PIN on voimassa

pin.expired.en=Your PIN has expired
pin.expired.de=Die PIN ist abgelaufen
pin.expired.fi=PIN-koodisi on vanhentunut

timer.minutes.en=minutes
timer.minutes.de=Minuten
timer.minutes.fi=minuuttia

got.it.button.en=Got it
got.it.button.de=Ok
got.it.button.fi=Selvä

pin.title.en=I have a PIN
pin.title.de=Ich habe eine PIN
pin.title.fi=Minulla on PIN-koodi

pin.field.placeholder.en=PIN
pin.field.placeholder.de=PIN
pin.field.placeholder.fi=PIN-koodi

pin.submit.en=Get text with PIN
pin.submit.de=Text abrufen
pin.submit.fi=Nouda teksti

text.received.en=Text received
text.received.de=Text erhalten
text.received.fi=Teksti vastaanotettu

text.show.button.en=Show text
text.show.button.de=Text anzeigen
text.show.button.fi=Näytä teksti

clear.button.en=clear
clear.button.de=Zurücksetzen
clear.button.fi=Aseta takaisin